.imgWrapper {
  height: 300px;
  background-image: url(../../../../public/hero-cover.png);
  background-position: center 77%;
  background-size: cover;
  background-repeat: no-repeat;
}

.cover {
  background-size: cover;
}

.section {
  display: flex;
  flex-direction: column;

  img {
    margin: 1rem;
    align-self: center;
  }
}

.container {
  max-width: 68rem;
  padding: 2rem 4rem;
  margin: 3rem auto;

  h2 {
    color: var(--blue);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1.4rem;
  }

  p {
    margin-bottom: 1.2rem;
  }

  ul {
    list-style-position: inside;
  }

  @media screen and (max-width: 750px) {
    padding: 1rem;
  }
}
