@import url("./reset.module.css");

:root {
  --blue: #208f7c;
  --white: #fff;
  --yellow: #eec23f;
  --headerHeight: 62px;
}

a {
  text-decoration: none;
}

nav {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  height: var(--headerHeight);

  a {
    text-transform: capitalize;
    color: var(--white);
    font-weight: bold;
  }

  @media screen and (max-width: 750px) {
    gap: 16px;
    font-size: 14px;
  }
}

main {
  height: 100dvh;
}

.hero {
  display: flex;
  position: relative;
  height: calc(100dvh - var(--headerHeight));
  justify-content: center;

  video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
  }

  .text-container {
    margin-top: 5.125rem;
    height: min-content;
    padding: 1rem;
    border-radius: 8px;

    small {
      font-size: 26px;
      font-weight: bold;
      text-align: left;
      color: var(--white);
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 32px;
        height: 2px;
        background-color: var(--white);
        bottom: 0;
        right: 50%;
        transform: translate(50%, 4px);
        border-radius: 8px;
      }
    }

    h1 {
      font-size: 78px;
      font-weight: bold;
      margin-bottom: 12px;

      span:first-child {
        color: var(--blue);
      }

      span:last-child {
        color: var(--blue);
      }
    }

    p {
      color: var(--white);
      margin-bottom: 38px;
      font-size: 18px;
    }

    p:has(a.button) {
      text-align: center;
      margin-bottom: 12px;
    }

    a.button {
      background-color: var(--blue);
      border: none;
      color: var(--white);
      border-radius: 4px;
      font-weight: bold;
      padding: 1rem;
      font-size: 16px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 750px) {
    .text-container {
      h1 {
        width: min-content;
      }
    }
  }
}

.about {
  display: flex;
  justify-content: center;
  padding: 2rem 4rem;
  gap: 3rem;

  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }

  .text-container {
    max-width: 48ch;
    display: flex;
    flex-wrap: wrap;

    p {
      font-size: 18px;
      line-height: 125%;
      margin-bottom: 2rem;
      text-align: justify;
    }
  }

  a.button {
    border: 0;
    border-radius: 8px;
    padding: 16px 12px;
    background-color: var(--yellow);
    font-weight: bold;
    align-self: flex-end;
  }

  .img-container {
    flex-basis: 500px;
    position: relative;
    align-self: self-start;

    &::after {
      --bg-padding: 12px;
      content: "";
      width: 75%;
      height: calc(100% + (2 * var(--bg-padding)));
      position: absolute;
      background-color: var(--blue);
      top: calc(-1 * var(--bg-padding));
      right: calc(-1 * var(--bg-padding));
      z-index: -1;
    }
  }

  @media screen and (max-width: 750px) {
    & {
      flex-direction: column-reverse;
      padding: 1rem;
    }

    .text-container {
      order: 2;
      max-width: 100%;
    }
    .img-container {
      flex-basis: initial;
      order: 1;
    }

    .mobile {
      display: initial;
    }

    .desktop {
      display: none;
    }
  }
}

.path {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 2rem 4rem;
  position: relative;

  .text-container {
    max-width: 52ch;

    p {
      margin-bottom: 16px;
    }
  }

  .img-container {
    position: relative;
    align-self: self-start;

    &::after {
      --bg-padding: 12px;
      content: "";
      width: 75%;
      height: calc(100% + (2 * var(--bg-padding)));
      position: absolute;
      background-color: var(--blue);
      top: calc(-1 * var(--bg-padding));
      left: calc(-1 * var(--bg-padding));
      z-index: -1;
    }
  }

  @media screen and (max-width: 750px) {
    & {
      flex-direction: column;
      padding: 1rem;
    }
  }
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 65.625rem;
  padding: 2rem 4rem;
  text-align: center;
  margin: 0 auto;
  text-align: justify;

  .articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 1.5rem;
  }

  p {
    margin-bottom: 1.825rem;
  }

  @media screen and (max-width: 750px) {
    padding: 1rem;
  }
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 4rem;
  gap: .8rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  background-image: url("/contact-background.jpg");
  background-size: cover;
  background-position: center;

  & > p {
    margin-top: 48px;
    margin-bottom: 36px;
  }

  @media screen and (max-width: 750px) {
    padding: 1rem;
  }
}

.divider {
  width: 100%;
}

.divider.top {
  transform: translateY(-3px);
}

/* UTILITIES */

.section-title {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 28px;
  color: var(--blue);
  text-align: left;
}
